body {
  margin: 0;
  padding: 80px 24px;
  background-color: #101f1a;
  color: #9cd7cd;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  margin: 0 0 16px;
  color: rgb(179, 17, 208);
  font-size: 38px;
}

p {
  margin: 0;
  max-width: 600px;
  font-size: 18px;
}

nav {
    margin-bottom: 40px;
}

nav a{
    color: #8ae1b9;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

nav a{
    margin-right: 20px;
}
section{
    margin-bottom: 60px;
}

h2{
    color: #8ae1b9;
    font-style: italic;
    font-size: 30px;
}
li{
    margin-bottom: 10px;
}